@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
h1{
    background-color: black;
    font-size: 50px;
     color: rgb(21, 255, 0);
     font-family: 'Rubik Vinyl', cursive;

}
   p{
    background-color: aqua;
    font-size: 20px;
    color: blueviolet;
   }